<h1>Create a new post</h1>

<%= form_with model: @post, local: true do |form| %>
  <%= form.label :title, "Add a title:" %>
  <%= form.text_field :title, value: "My Post" %> <br><br>
  <%= form.text_area :body, placeholder: "Your post here..."%> <br><br>
  <%= form.submit %>
<% end %>

<br><br>
<%= link_to 'Back', root_path %>
